$bg-body: #f8fafc;
$white: #fff;
$gray: #ccc;
$gray2: #aaa;
$main: #25a87c;
$bg-main: hsl(160 80% 95%);
$black: #030005;

$font-size: 16px;

$main-font: "Cairo", sans-serif;
$secondary-font: "Scheherazade New", serif;
$ayah-font: "Amiri", serif;

$container-p-sm: 10px;
$container-p-md: 40px;
$container-p-l: 60px;
$container-p-xl: 80px;

$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
